@media only screen and (max-width:1200px)
{
    html{
        font-size: 16px;
    }
    .login{
        margin-top: 170px;
        width: 150px;
        margin-left: 450px;
    }
    .text1{
        margin-top: 50px;
        margin-left: 350px;
    }
    .btn{
        margin-left: 130px;
        margin-top: 30px;
    }
}

@media only screen and (max-width:1023px)
{
    html{
        font-size: 14px;
    }
    .login{
        margin-top: 150px;
        width: 150px;
        margin-left: 300px;
        
    }
    .text1{
        margin-top: 50px;
        margin-left: 200px;
    }
    .btn{
        margin-left: 130px;
        margin-top: 30px;
    }
}

@media only screen and (max-width:767px)
{
    
}

@media only screen and (max-width:480px)
{
    html{
        font-size: 10px;
    }
    .login{
        margin-top: 150px;
        width: 100px;
        margin-left: 150px;
        
    }
    .text1{
        margin-top: 50px;
        margin-left: 70px;
    }
    .text1_1{
        width: 300px;
    }
    .text1_2{
        width: 300px;
    }

    .btn{
        margin-left: 100px;
        margin-top: 30px;
        width: 100px;
    }
}