<!DOCTYPE html>
<html>

<head>
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="Resources/css/styles.css">
    <link rel="stylesheet" href="Resources/css/queries.css">
</head>

<body>
    <img class="login" src="./Resources/img/login.jpg" alt="đăng nhập"></a>
    <form class="text1">
        <input class="text1_1" type="text" placeholder="User name">
        <input class="text1_2" type="text" placeholder="Password">
        <button class="btn">Đăng nhập</button>
    </form>
</body>

</html>